<html>
    <head>
        <title>
            STS project
        </title>
    <body>
        <center>
        <form method = "POST", action="{{url_for('predict')}}">
        <br><br>
        <h1>STS PROJECT</h1>
        <br><br>
        <b>
        question1 : <input type='text', name='question1'>
        <br><br>
        question2 : <input type='text', name='question2'>
        
    </b>
    </body>
    <br><br>
    <h1><input type='submit', value='비교'></h1>
</center>
    </form>
    </head>
</html>